@use "../../style/colors" as *;
@use "../../style/variables" as *;

.row {
  .priority {
    padding-right: 25px;
    @media screen and (max-width: 600px) {
      padding-right: 10px;
    }
  }

  .dragHandle {
    cursor: move;
    transition: background-color 0.3s;
    &:hover {
      background-color: lighten($secondary-color, 2%);
    }
  }

  .gray {
    background-color: $secondary-color;
    padding: 15px $padding-small;
  }

  .roundedLeft {
    border-radius: $border-radius 0 0 $border-radius;
  }

  .roundedRight {
    border-radius: 0 $border-radius $border-radius 0;
  }
}
