@use "../../style/colors" as *;
@use "../../style/variables" as *;
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  .groupDetails {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.6;
    p {
      margin-bottom: 10px;
      color: #333;
      span {
        font-weight: bold;
        color: #555;
      }
    }
  }
}
