@use "../../style/colors" as *;
@use "../../style/variables" as *;

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  .groupDetails {
    margin: 20px 0 30px 0;
    font-size: 1rem;
    line-height: 1.6;
    p {
      margin-bottom: 10px;
      color: #333;
      span {
        font-weight: bold;
        color: #555;
      }
    }
  }

  .link {
    list-style-type: none;
    background: #ebeef0;
    width: fit-content;
    padding: 10px;
    border-radius: 25px;
    transition: 0.3s;
    margin-bottom: 50px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    &:hover {
      background: #d6d8d9;
    }

    a {
      text-decoration: none;
    }
  }
}
