@use "../../style/variables" as *;
@use "../../style/colors" as *;

.form {
  margin-bottom: $padding-large;
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: $padding-small;

  label {
    margin-bottom: $padding-small;
    display: block;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: $padding-small;
    border-radius: $border-radius;
    border: 1px solid darken($secondary-color, 5%);
    outline: none;
  }
}

.submitButton {
  $blue: #2196f3;
  padding: 8px 15px;
  border-radius: 3px;
  background-color: $blue;
  color: $white;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin: 15px auto;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: lighten($blue, 5%);
  }
}
