@use "../../style/variables" as *;
@use "../../style/colors" as *;

.sectionHeader {
  h2 {
    margin-bottom: 5px;
    font-size: 2rem;
  }
  p {
    max-width: 480px;
    color: $grey;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  hr {
    margin-bottom: $padding-large;
    border: none;
    border-top: 1px solid darken($secondary-color, 3%);
  }
}
